<%- include('adminHeader') %>

<div class="container">
  <h3 class="mt-5" style="letter-spacing: 1.5px;">CATEGORIES</h3>

  <div class="col-lg-7">
    <div class="card mb-0">
      <div class="card-header"></div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table mb-0 table-striped table-hover">
            <thead>
              <tr>
                <th>No.</th>
                <th>Category</th>
                <th>Status</th>
                <th>Updation</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((data, index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <% if (data.active) { %>
                    <td><%= data.category %></td>
                  <% } else { %>
                    <td class="text-decoration-line-through"><%= data.category %></td>
                  <% } %>

                  <% if (data.active) { %>
                    <td>Listed</td>
                  <% } else { %>
                    <td>Unlisted</td>
                  <% } %>

                  <td class="d-flex">
                    <a href="" data-bs-toggle="modal" data-bs-target="#myModalEdit<%= index %>">
                      <i class="fa-solid fa-pen-to-square me-4 ms-2"></i>
                    </a>
                    <% if (data.active) { %>
                      <a href="/admin_unlist_category?id=<%= data._id %>"><i class="fa-regular fa-circle-xmark"></i></a>
                    <% } else { %>
                      <a href="/admin_list_category?id=<%= data._id %>"><i class="fa-solid fa-check"></i></a>
                    <% } %>
                  </td>
                </tr>
                <!-- Modal for Editing Category -->
                <div class="modal fade text-start" id="myModalEdit<%= index %>" tabindex="-1" aria-labelledby="myModalLabel<%= index %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel<%= index %>">Edit Categories</h5>
                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p></p>
                        <form method="post" id="editCategory<%= index %>" onsubmit="submitEditCategory('<%= index %>')">
                          <div class="mb-3">
                            <label class="form-label" for="modalInputEmail1">Category</label>
                            <input type="hidden" value="<%= data.category %>" id="oldCategory<%= index %>">
                            <input class="form-control" id="newCategory<%= index %>" type="text" name="category" aria-describedby="emailHelp" value="<%= data.category %>">
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Modal -->
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Button for Adding Category -->
<div class="card me-5 mt-3">
  <div class="card-body pt-0 text-center">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModalAdd">ADD</button>
  </div>
</div>

<!-- Modal for Adding Category -->
<div class="modal fade text-start" id="myModalAdd" tabindex="-1" aria-labelledby="myModalLabelAdd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabelAdd">Add Categories</h5>
            <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addCategoryForm" method="post">
              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">Category</label>
                <input class="form-control" id="category" type="text" name="category" >
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
<!-- End Modal for Adding Category -->

<%- include('adminFooter') %>

<script>
  document.getElementById('addCategoryForm').addEventListener('submit',function (event){
    event.preventDefault();
    const category = document.getElementById('category').value;
    const trimmedCategory = category.trim()
    const disallowedChars = /[.,\/#!$%\^&\*;:{}=\-_`~())"@'|\\]/;
    if(category.trim().length <= 0){
      toastr.error('Enter category name','Sorry');
    }else if(disallowedChars.test(trimmedCategory)){
      toastr.error('Enter valid category name','Sorry');
    }
    else{
        fetch('/admin_add_category',{
          method:'POST',
          headers:{'Content-Type': 'application/json'},
          body:JSON.stringify({
              category:trimmedCategory
          })
      })
      .then(response=> {
        if(response.status === 200){
          return response.json()
          .then(data=> {
            toastr.success(data.message, 'Sucessfully');
          })
        }else{
          return response.json()
          .then(data=> {
            toastr.error(data.message, 'Sorry');
          })
        }
      });
    }
  });

  function submitEditCategory(index){
    event.preventDefault();
    console.log('entered to the editing category sector');
    const oldCategory = document.getElementById('oldCategory'+ index).value;
    const newCategory = document.getElementById('newCategory' + index).value;
    const trimmedCategory = newCategory.trim()
    const disallowedChars = /[.,\/#!$%\^&\*;:{}=\-_`~())"@'|\\]/;
    if(newCategory.trim().length <= 0){
        toastr.error('Enter valid category name','Sorry');

    }else if(disallowedChars.test(trimmedCategory)){
      toastr.error('Enter valid category name','Sorry');
    }
    else{
        fetch('/admin_edit_category',{
          method:'POST',
          headers:{'Content-Type': 'application/json'},
          body:JSON.stringify({
              category:trimmedCategory,
              oldCategory:oldCategory
          })
      })
      .then(response=> {
        if(response.status === 200){
          return response.json()
          .then(data=> {
            toastr.success(data.message, 'Sucessfully');
          })
        }else{
          return response.json()
          .then(data=> {
            toastr.error(data.message, 'Sorry');
          })
        }
      });
    }
  }
</script>


<%- include('adminFooter') %>





