<%- include('adminHeader') %>

<div class="container">

    <div class="row mt-3 mb-5">
        <div class="d-flex justify-content-end"><strong>Total Amount : <%= totalAmount %></strong></div>
    </div>

    <table id="salesReportTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Username</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Offer Applied</th>
                <th>Offer Name</th>
                <th>Offer Price</th>
                <th>Actual Price</th>
            </tr>
        </thead>
        <tbody>
            <% order.forEach(orderItem => { %>
                <% orderItem.items.forEach(item => { %>
                    <tr>
                        <td><%= orderItem.createdAt %></td>
                        <td><%= orderItem.userId.userName %></td>
                        <td><%= item.product.productName %></td>
                        <td>$<%= item.product.price %></td>
                        <td><%= item.productOfferPrice > 0 || item.categoryOfferPrice > 0 ? 'Yes' : 'No' %></td>
                        <td><%= item.productOfferName || item.categoryOfferName || '-' %></td>
                        <td>$<%= item.productOfferPrice || item.categoryOfferPrice || '-' %></td>
                        <td class="totalPrice">$<%= item.price %></td>
                    </tr>
                <% }) %>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('adminFooter') %>

<script>
    const sum = document.querySelectorAll('.totalPrice')
    console.log(sum)
    const totalSaleSum = sum.reduce((accumulator, currentValue) => accumulator + currentValue, 0); 
    console.log(totalSaleSum)
</script>