<% if (userLoggedIn) { %>
    <%- include('userAfterLogin') %>
  <% } else { %>
    <%- include('userHeader') %>
 <% } %>
  <!-- Slider main container -->
<div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
        <% banners.forEach(banner=> { %>
        
        
                <div class="swiper-slide" style="background-image: url('/assets/uploads/<%= banner.image %>');">
                       <!-- <div class=""> <i class="fa-solid fa-angle-down fa-4x"></i></div> -->
                        <div class="col-lg-6 ms-5 banner_div">
                                <h1 class="bannerHeading"><%= banner.heading.toUpperCase() %></h1>
                                <p class="bannerSubheading"><%= banner.subheading.toUpperCase() %></p>
                                <a class="bannerBtn" href="/products?categoryId=<%= banner.brandId %>"><%= banner.brandName.toUpperCase() %></a>
                         </div>
         
                 </div>
                 <% }) %>                                                               
                                
                                

        </div>
        
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      
      </div>
      
      
      
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        const swiper = new Swiper('.swiper', {
          loop: true,
          speed: 1000,
          effect: "cube",
          grabCursor: true,
          cubeEffect: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94,
          },
      
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        })
      </script>
      
      
      


  <section class="section-products">
    <div class="container">
            
        <div class="col-md-8 col-lg-6">
             
                  <h2 class="heading">TRENDING</h2>
             
              </div>

       
              <div class="row">
                <% products.forEach((data,index) => { %>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 <% if (data.stock <= 0) { %>out-of-stock<% } %>">
                        <div id="product-1" class="single-product">
                                <div class="part-1" style="background: url('/assets/uploads/<%= data.image[data.image.length-1] %>'); background-size: cover;
                                    transition: all 0.3s;
                                    background-position:center;">
                                        <ul>

                                             <li>

                                                <% if (userLoggedIn) { %>
                                                    <button data-bs-toggle="modal" data-bs-target="#exampleModalCart" class="cart_button" value="<%= data._id %>"><i class="fas fa-shopping-cart"></i></button>
                                                    <% } else { %>
                                                      <a href="/login"><i class="fas fa-shopping-cart"></i></a>
                                               <% } %> 

                                               <% if (userLoggedIn) { %>
                                                    <button class="wishlist_button" value="<%= data._id %>"><i class="fas fa-heart"></i></button>
                                                    <% } else { %>
                                                      <a href="/login"><i class="fas fa-heart"></i></a>
                                               <% } %> 
                                                    
                                                <li><a href="/product?id=<%= data._id %>"><i class="fas fa-expand"></i></a></li>
                                        </ul>
                                
                                
                                    </div>
                                <div class="part-2">
                                        <h3 class="product-title" style="letter-spacing: 1px;"><%= data.productName %></h3>
                                     
                                        <h4 class="product-price" style="color: #FF871D;">$<%= data.price %></h4>
                                </div>
                       
               </div> 
               <% if (data.stock <= 0) { %>
                    <div style="color:crimson;" class="out-of-stock-label">OUT OF STOCK</div>
                <% } %>
            </div>

       <!-- Modal For Add to cart -->
       
       <div class="modal fade" id="exampleModalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <h5 class="head_text" id="exampleModalLabel">ARE YOU SURE</h5> -->
                  <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p class="para_text text-center">Product Successfully Added To The Cart ✅ </p>  
                </div>
              </div>
            </div>
          </div>


                <% }); %>
        </div>
</div>
<div class="text-center"><a href="/all_products"><button style="border-radius: 50%;" class="browseAll"> <i class="fa-solid fa-chevron-right"></i></button></a><div>
</section>

<script>

//ADD TO CART
    let cartBtns = document.querySelectorAll('.cart_button')
    cartBtns.forEach(cartBtn => {

            cartBtn.addEventListener('click', () => {
                    console.log(cartBtn.value)
                    fetch('/cart', {
                            method: 'POST',
                            headers: {
                                    'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                    quantity: 1,
                                    productId: cartBtn.value
            })
                    }).then(response => {
                            if (response.ok) {
                                    setTimeout(() => {
                                            window.location.href = '/cart';
                                    }, 1000);
                            } else {
                                    window.location.href = '/cart';
                            }
                    })
                            .catch(error => console.log(error));
            });
    });
                                    

//ADD TO WISHLIST
let wishBtns = document.querySelectorAll('.wishlist_button')
wishBtns.forEach(wishBtn => {
    wishBtn.addEventListener('click', () => {
                    fetch('/wishlist', {
                            method: 'POST',
                            headers: {
                                    'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                    productId: wishBtn.value
            })
                    }).then(response => {
                            if (response.ok) {
                             toastr.success('Successfully Added To Wishlist ', 'Welcome');
                            }
                            else if(response.status === 400){
                                   response.json().then(data=> {
                                    toastr.error(data.message,'Error')
                                   })
                            }
                             else {
                                    window.location.href = '/wishlist';
                            }
                    })
                            .catch(error => console.log(error));
            });
    }); 





</script>
<%- include('userFooter') %>