<%- include('userAfterLogin') %>

<div class="main-container" style="flex-direction: column;min-height: fit-content;">
    <div class="container-fluid">

        <div class="d-inline-flex align-items-center mt-4 ms-3">
            <a href="/" class="">HOME</a>
            <i class="fa-solid fa-chevron-right me-2 ms-2 "></i>
            <a href="/profile" class="span">PROFILE</a>
        </div>

    </div>

    <% if (orderDetails.length === 0) { %>
        <div class="container mt-4 text-center justify-content align-items-center">
            <img src="/images/icon/no_order_found.png" class="img-fluid" width="300px" alt="cart-empty-svg">
            <p style="color: #23252777;">Looks like you haven't purchased anything cart yet</p>
            <a href="/all_products"><button class="product_checkout">Continue Shopping</button></a>
        </div>
                
            
      </div>  
    <% } else { %>

    <div class="container">
        <h3 class="heading mt-4" style="margin-bottom: 0;">MY ORDER</h3>

        <div class="table-responsive mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Expected Delivery</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Total</th>
                        <th scope="col">Details</th>
                        <th scope="col">Invoice</th>
                    </tr>
                </thead>

                <tbody>
                  <% orderDetails.forEach((order, orderIndex) => { %>
                    <tr>
                        <input type="hidden" value="<%= order._id %>" class="orderId">
                        <td>#<%= order._id %></td>
                        <td><%= order.orderPlacedDate %></td>
                        <td><%= order.estimateDeliveryDate %></td>
                        <td><%= order.paymentType %></td>
                        <td>$<%= order.totalAmount %></td>
                        <td> <button onclick="orderDetailShow(event)"
                        style="border: none; background-color: transparent;">
                        View</button></td>
                        <td><a href="/download_invoice/:<%= order._id %>">Download Invoice</a></td>
                    </tr> 
                  <% }) %>
                </tbody>
                
            </table>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
    <% } %>
</div>
<script>

    function orderDetailShow(event){
        let orderId = event.target.closest('tr').querySelector('.orderId').value;
        window.location.href = `/my_order_items?orderId=${orderId}`;
    }

</script>

<%- include('userFooter') %>
