<%- include('userAfterLogin') %>
               

<div class="main-container" style="flex-direction: column;min-height: fit-content;">
    <div class="container-fluid">

        <div class="d-inline-flex align-items-center mt-4 ms-3">
            <a href="/" class="">HOME</a>
            <i class="fa-solid fa-chevron-right me-2 ms-2 "></i>
            <a href="/profile" class="span">PROFILE</a>
        </div>

    </div>
    <div class="container">
        <h3 class="heading mt-4" style="margin-bottom: 0;">MY ORDER</h3>

        <div class="table-responsive mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <% orderDetails.forEach((order, orderIndex) => { %>
                      <% order.items.forEach((item, itemIndex) => { %>
                        <tr >
                          <td><%= item.product.productName %></td>

                          <td><img src="/assets/uploads/<%= item.product.image[item.product.image.length-1] %>" alt="<%= item.product.productName %>" width="60px"></td>
                          <td>$<%= item.price %></td>
                          <td><%= item.product.category.category %></td> <!-- Display category name -->
                          <td><%= item.quantity %></td>
                          <td><%= order.orderStatus %></td>
                          <td class="d-flex pb-5"><button type="button" class="btn btn-danger">Cancel</button>
                            <button type="button" class="btn btn-danger ms-3">Return</button>
                          </td>
                        
                        </tr>
                      <% }) %>
                    <% }) %>
                  </tbody>
                
            </table>
        </div>        
   

    </div>
</div>





  <%- include('userFooter') %>