<%- include('userAfterLogin') %>

<div class="main-container" style="flex-direction: column;min-height: fit-content;">
    <div class="container-fluid">

        <div class="d-inline-flex align-items-center mt-4 ms-3">
            <a href="/" class="">HOME</a>
            <i class="fa-solid fa-chevron-right me-2 ms-2 "></i>
            <a href="/profile" class="span">PROFILE</a>
        </div>

    </div>

    <% if (orderDetails.length === 0) { %>
        <div class="container mt-4 text-center justify-content align-items-center">
            <img src="/images/icon/no_order_found.png" class="img-fluid" width="300px" alt="cart-empty-svg">
            <p style="color: #23252777;">Looks like you haven't purchased anything cart yet</p>
            <a href="/all_products"><button class="product_checkout">Continue Shopping</button></a>
        </div>
                
            
      </div>  
    <% } else { %>

    <div class="container">
        <h3 class="heading mt-4" style="margin-bottom: 0;">MY ORDER</h3>

        <div class="table-responsive mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>

                <tbody style="cursor: grab;">
                  <% orderDetails.forEach((order, orderIndex) => { %> 
                    <% order.items.forEach((item, itemIndex) => { %>
                    <tr>
                        <input type="hidden" value="<%= order._id %>" class="orderId">
                        <input type="hidden" value="<%= item.product._id %>" class="productId">
                        <td><%= item.product.productName %></td>
                        <td><img src="/assets/uploads/<%= item.product.image[item.product.image.length-1] %>" alt="<%= item.product.productName %>" width="60px"></td>
                        <td>$<%= item.price %></td>
                        <td><%= order.paymentType %></td>
                        <td><%= item.product.category.category %></td>
                        <td><%= item.quantity %></td>
                        <td>
                          <% if (item.orderStatus === "CancelledByAdmin") { %>
                            <p style="color: rgb(235, 46, 46);">Cancelled By Admin</p>
                        <% } else if (item.orderStatus === "Cancelled By User") { %>
                            <p style="color: rgb(235, 46, 46);">Cancelled</p>
                        <% } else { %>
                            <%= item.orderStatus %>
                        <% } %>

                        
                        </td>
                        <td>

                            <% if ((item.orderStatus === "Delivered") && ((new Date() - new Date(order.createdAt)) / (1000 * 60 * 60 * 24)) <= 1) { %>
                            
                                <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#returnOrderModal<%= itemIndex %>">Return</button>

                        <% } else if (item.orderStatus !== "CancelledByAdmin" && item.orderStatus !== "Cancelled By User" && item.orderStatus !== "Returned") { %>
                           
                                <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelOrderModal<%= itemIndex %>">Cancel</button>
                            
                        <% } %>
                        </td>
                        <td><button class="btn btn-success" onclick="orderDetailShow(event)">view detail</button></td>
                    </tr> 

                    <!-- return order model  -->


                    <div class="modal fade" id="returnOrderModal<%= itemIndex %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Reason for Return this product</h5>
                              <button type="button" style="background-color: transparent; border: none;"
                               class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/return_order" method="post">
                                <div class="form-group">
                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                <input type="hidden" name="productId" value="<%= item.product._id %>">
                                  <label for="message-text" class="col-form-label"></label>
                                  <input type="text" name="returnReason" id="message-text">
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Cancel</button>
                            </div>
                        </form>
                          </div>
                        </div>
                      </div>



                    <!-- cancel order model  -->

                    <div class="modal fade" id="cancelOrderModal<%= itemIndex %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Reason For Cancel</h5>
                              <button type="button" style="background-color: transparent; border: none;"
                               class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/cancel_order" method="post">
                                <div class="form-group">
                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                <input type="hidden" name="productId" value="<%= item.product._id %>">
                                  <label for="message-text" class="col-form-label"></label>
                                  <input type="text" name="cancelReason" id="message-text">
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Cancel</button>
                            </div>
                        </form>
                          </div>
                        </div>
                      </div>


                    <% }) %>
              
                  <% }) %>
                </tbody>
                
            </table>
        </div>

        
    </div>
    <% } %>
</div>

<script>

    function orderDetailShow(event){
        let orderId = event.target.closest('tr').querySelector('.orderId').value;
        let productId = event.target.closest('tr').querySelector('.productId').value;
        console.log('Order id is ', orderId);
        window.location.href = `/my_order_details?orderId=${orderId}&productId=${productId}`;
    }

</script>

<%- include('userFooter') %>