<%- include('userAfterLogin') %>
               
  <!-- //-----------ON DESKTOP -->
 

<div class="main-container">
<div class="flex-column flex-shrink-0 p-3 sidebar border" id="sidebar">
    <div class="row">
    <div class="d-flex flex-column align-items-center me-4"> <i class="fa-solid fa-user-tie fa-4x"></i>
        <span class="fs-4 mt-2">
            <%= user.userName.toUpperCase() %>
        </span>
    </div>
 
    <hr>
    <ul class="nav flex-column ">
      <li class="nav-item my-2" id="myOrderItem" onclick="viewMyOrderPage()">
        <a href="/my_order" class="nav-link link-dark">
          <i class="fa-solid fa-house-chimney me-3" ></i>
          My Order
        </a>
      </li>
      <li class="my-2" id="changeUsernameItem" onclick="viewUsernamePage()">
        <a href="#" class="nav-link link-dark">
            <i class="fa-solid fa-signature me-3" ></i>
          Change username
        </a>
      </li>
      <li class="my-2" id="changePasswordItem" onclick="viewChangePasswordPage()">
        <a href="#" class="nav-link link-dark">
            <i class="fa-solid fa-key me-3" ></i>
          Change password
        </a>
      </li>
      <li class="my-2" id="manageAddressItem" onclick="viewManageAddressPage()">
        <a href="#" class="nav-link link-dark">
            <i class="fa-solid fa-map-location-dot  me-3"></i>
          Manage address
        </a>
      </li>
      <li class="my-2">
        <a href="/wishlist" class="nav-link link-dark">
            <i class="fa-solid fa-hand-holding-heart  me-3"></i>
          My Wishlist
        </a>
      </li>
      <li class="my-2" id="walletItem" onclick="viewWalletPage()">
        <a href="/wallet" class="nav-link link-dark">
            <i class="fa-solid fa-wallet me-3" ></i>
          Wallet
        </a>
      </li>
      <li class="my-2">
        <a href="#" class="nav-link link-dark">
            <i class="fa-solid fa-headset  me-3"></i>
          Support
        </a>
      </li>
      <li class="my-2">
        <a href="#" class="nav-link link-dark">
            <i class="fa-solid fa-right-from-bracket  me-3"></i>
          Logout
        </a>
      </li>
    </ul>
    
  </div></div>

  <i class="fa-solid fa-bars-staggered mt-2 ms-4 " id="sidebardisplay"></i>

  <!-- ---------------------------------- ALERT MANAGE ------------------------------------------------------------ -->

  
  <div class="col-lg-9 mt-5 ms-5" id="profileDetail">
    <div class="container txt-container" style="height: fit-content;">
      <% if (userMessage) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Holy <%= user.userName %>!</strong> Successfully Changed Username
          <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
        </div>
        <% } %>
    
          <% if (userError) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Sorry <%= user.userName %> 😓</strong> Same Userame Try Another One
              <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
            </div>
            <% } %>
    
              <% if (addressError) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Sorry <%= user.userName %> 😓</strong> Adress Limit Exceeded
                  <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                </div>
                <% } %>
    
                  <% if (addressMessage) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>Holy <%= user.userName %>!</strong> Address added Successfully
                      <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                    </div>
                    <% } %>

                    <% if (passMessage) { %>
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Holy <%= user.userName %>!</strong> Successfully Changed Password
                        <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                      </div>
                      <% } %>

                      <% if (passError) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Sorry <%= user.userName %> 😓</strong> Error Occur While Changing The Password Please Try Again
                          <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                        </div>
                        <% } %>

                        <% if (editAddressMessage) { %>
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Holy <%= user.userName %>!</strong> Successfully Changed The Address
                           <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                          </div>
                          <% } %>

                          <% if (editAddressError) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <strong>Sorry <%= user.userName %> 😓</strong> Error Occur While Editinig The Address Please Try Again
                              <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                            </div>
                            <% } %>

           
  <!-- ---------------------------------- ALERT END ------------------------------------------------------------ -->



 <i class="fa-solid fa-user-tie fa-4x"></i>
 <h1 class="mt-3 head_text">HELLO 👋🏼 <%= user.userName.toUpperCase() %></h1>
 <h4 class="para_text">Email : <%= user.email %></h4>
 <h4 class="para_text">Number : <%= user.number %></h4>
 <h4 class="para_text">Referral Code : <strong><%= user.referralCode %></strong> </h4>

 <div class="addrss-container container mt-4">
 <% user.address.forEach((data,index)=>{ %>
  <div class="border py-4 px-4" >
    <h4 class="text-center head_text">Address <%= index+1 %></h4>
    <ul>
     <li><p><%= data.address %> </p></li> 
      <p><%= data.name %> </p>
      <p><%= data.city %> </p>
      <p><%= data.state %> </p>
      <p><%= data.pincode %> </p>
</ul>
<div class="d-flex justify-content-end">

  <a href="" data-bs-toggle="modal" data-bs-target="#myModalEdit<%= index %>"><i class="fa-solid fa-user-pen"></i></a>
  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash ms-3"></i> </a> 

                          
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.534);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="head_text" id="exampleModalLabel">ARE YOU SURE</h5>
          <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p class="para_text">Permenently Delete The Address ⚠️</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
         <a href="/delete_address/<%= data._id %>"><button type="button" class="btn btn-primary">YES</button></a> 
        </div>
      </div>
    </div>
  </div>



  <!-- Edit product modal window start  -->

  <div class="modal fade text-start" id="myModalEdit<%= index %>" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Edit Address</h5>
          <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/edit_address/<%= data._id %>" method="post">
            <div class="mb-3">
              <label class="form-label" for="modalInputEmail1">Name</label>
              <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.name %>" name="userName"
                aria-describedby="emailHelp" required >
            </div>

            <div class="mb-3">
              <label class="form-label" for="modalInputEmail1">Number</label>
              <input class="form-control" id="modalInputEmail1" type="number" value="<%= data.number %>" name="number"
                aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3">
              <label class="form-label" for="modalInputEmail1">Address</label>
              <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.address %>" name="address"
                aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3">
              <label class="form-label" for="modalInputEmail1">City</label>
              <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.city %>" name="city"
                aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3">
              <label class="form-label" for="modalInputEmail1">State</label>
              <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.state %>" name="state"
                aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3">
              <label class="form-label" for="modalInputEmail1">Pincode</label>
              <input class="form-control" id="modalInputEmail1" type="number" value="<%= data.pincode %>" name="pincode"
                aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3">
              <label class="form-label" for="modalInputEmail1">Landmark</label>
              <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.landmark %>" name="landmark" 
              aria-describedby="emailHelp" required>
                
            </div>
 
         
            
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save & Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal for Adding Address -->

 </div>


 </div>
 <% }) %>
</div> 

    
 
    
 </div>
</div>

<!-- ----------------------------my order page ---------------------------------------- -->

  <div class="col-lg-9 mt-5 ms-5" id="myOrder">
    
</div>

<!-- ----------------------------Change username page ---------------------------------------- -->

<div class="col-lg-9 mt-5 ms-5" id="changeUsername">
  <div class="container txt-container" style="height: fit-content;">
  <h4 class="heading">CHANGE USERNAME</h4>
  <form action="/change_userName" method="post" class="d-inline-flex flex-column">
  <h6>ENTER YOUR NEW USERNAME</h6>
  <input class="mt-3" type="text" name="userName" placeholder="<%= user.userName %>" required>
  <button class="mt-4 change_userName">CHANGE</button>
</form>
</div>
</div>

<!-- ----------------------------Change password page ---------------------------------------- -->

<div class="col-lg-9 mt-5 ms-5" id="changePassword" >
  <div class="container txt-container" style="height: fit-content;">
  <h4 class="heading">CHANGE PASSWORD</h4>
  <form action="/change_password" method="post" class="d-inline-flex flex-column">
    <h6>ENTER YOUR OLD PASSWORD</h6>
    <input class="mt-1 p-2" type="password" name="oldPassword" placeholder="Old password" required style="border: none;"> 
    <h6 class="mt-3">ENTER NEW PASSWORD</h6>
    <input class="mt-1 p-2" type="password" name="newPassword" placeholder="New password" required style="border: none;">
    <h6 class="mt-3">CONFIRM PASSWORD</h6>
    <input class="mt-1 p-2" type="password" name="confirmPassword" placeholder="Re enter" required style="border: none;">
    <button class="mt-3 change_userName">CHANGE</button>
  </form>
</div>
</div>



<!-- ----------------------------Manage address page ---------------------------------------- -->

<div class="col-lg-9 mt-5 ms-5" id="manageAddress">
  <h4 class="heading" style="margin-bottom: 0;">ADDRESS</h4>
  <div class="card-body pt-0 d-flex justify-content-end">
      <button class="addBtn" type="button" data-bs-toggle="modal" data-bs-target="#myModalAdd">ADD</button>
    </div>
    
    
        <div class="addrss-container container mt-4" style="justify-content: start;">
          <% user.address.forEach((data,index)=>{ %>
           <div class="border py-4 px-4" >
             <ul>
              <li><p><%= data.address %> </p></li> 
               <p><%= data.city %> </p>
               <p><%= data.state %> </p>
               <p><%= data.pincode %> </p>
         </ul>
         <div class="d-flex justify-content-end">

          <a href="" data-bs-toggle="modal" data-bs-target="#myModalEdit2<%= index %>"><i class="fa-solid fa-user-pen"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i class="fa-solid fa-trash ms-3"></i> </a> 

                          
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.534);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="head_text" id="exampleModalLabel">ARE YOU SURE</h5>
          <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p class="para_text">Permenently Delete The Address ⚠️</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
         <a href="/delete_address/<%= data._id %>"><button type="button" class="btn btn-primary">YES</button></a> 
        </div>
      </div>
    </div>
  </div>
        
          <!-- Edit Address modal window start  -->
        
          <div class="modal fade text-start" id="myModalEdit2<%= index %>" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Edit Address</h5>
                  <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/edit_address/<%= data._id %>" method="post">
                    <div class="mb-3">
                      <label class="form-label" for="modalInputEmail1">Name</label>
                      <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.name %>" name="userName"
                        aria-describedby="emailHelp" required >
                    </div>
        
                    <div class="mb-3">
                      <label class="form-label" for="modalInputEmail1">Number</label>
                      <input class="form-control" id="modalInputEmail1" type="number" value="<%= data.number %>" name="number"
                        aria-describedby="emailHelp" required>
                    </div>
        
                    <div class="mb-3">
                      <label class="form-label" for="modalInputEmail1">Address</label>
                      <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.address %>" name="address"
                        aria-describedby="emailHelp" required>
                    </div>
        
                    <div class="mb-3">
                      <label class="form-label" for="modalInputEmail1">City</label>
                      <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.city %>" name="city"
                        aria-describedby="emailHelp" required>
                    </div>
        
                    <div class="mb-3">
                      <label class="form-label" for="modalInputEmail1">State</label>
                      <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.state %>" name="state"
                        aria-describedby="emailHelp" required>
                    </div>
        
                    <div class="mb-3">
                      <label class="form-label" for="modalInputEmail1">Pincode</label>
                      <input class="form-control" id="modalInputEmail1" type="number" value="<%= data.pincode %>" name="pincode"
                        aria-describedby="emailHelp" required>
                    </div>
        
                    <div class="mb-3">
                      <label class="form-label" for="modalInputEmail1">Landmark</label>
                      <input class="form-control" id="modalInputEmail1" type="text" value="<%= data.landmark %>" name="landmark" 
                      aria-describedby="emailHelp" required>
                        
                    </div>
         
                 
                    
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-primary" type="submit">Save & Edit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal for Editing Address -->
        
         </div>
          </div>
          <% }) %>
         </div> 


    
    <div class="container txt-container">
      <!-- Add Address modal window start -->
    <div class="modal fade text-start" id="myModalAdd" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Add Address</h5>
            <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/add_address" method="post">
              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">Name</label>
                <input class="form-control" id="modalInputEmail1" type="text" name="name"
                  aria-describedby="emailHelp" required>
              </div>
  
              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">Number</label>
                <input class="form-control" id="modalInputEmail1" type="number" name="number"
                  aria-describedby="emailHelp" required>
              </div>
  
              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">Address</label>
                <input class="form-control" id="modalInputEmail1" type="text" name="address"
                  aria-describedby="emailHelp" required>
              </div>
  
              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">City</label>
                <input class="form-control" id="modalInputEmail1" type="text" name="city"
                  aria-describedby="emailHelp" required>
              </div>

              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">State</label>
                <input class="form-control" id="modalInputEmail1" type="text" name="state"
                  aria-describedby="emailHelp" required>
              </div>

              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">Pincode</label>
                <input class="form-control" id="modalInputEmail1" type="number" name="pincode"
                  aria-describedby="emailHelp" required>
              </div>

              <div class="mb-3">
                <label class="form-label" for="modalInputEmail1">Landmark</label>
                <input class="form-control" id="modalInputEmail1" type="text" name="landmark"
                  aria-describedby="emailHelp" required>
              </div>
   
           
              
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal for Adding Address -->
  </div>

</div>

<!-- ----------------------------wallet page ---------------------------------------- -->
<!-- 
<div class="col-lg-9 mt-5 ms-5" id="wallet">
  <div class="container txt-container" style="height: fit-content;">
  <h2 class="heading">WALLET</h2>
  <div class="container txt-container">
  </div>
</div>
</div> -->


<!-- ------------------------------Main container end---------------------------------------------- -->
</div>


<script>
  const sidebar = document.getElementById('sidebar');
  const sidebardisplay = document.getElementById('sidebardisplay');

  sidebardisplay.addEventListener('click', () => {
    sidebar.classList.toggle('show-sidebar');
  });

  const myOrderPage = document.getElementById('myOrder');
  const userNamePage = document.getElementById('changeUsername');
  const changePasswordPage = document.getElementById('changePassword');
  const manageAddressPage = document.getElementById('manageAddress');
  const profileDetailPage = document.getElementById('profileDetail');



  function viewUsernamePage() {
    userNamePage.style.display = 'block';
    myOrderPage.style.display = 'none';
    changePasswordPage.style.display = 'none';
    manageAddressPage.style.display = 'none';
    profileDetailPage.style.display = 'none';


    document.getElementById('myOrderItem').classList.remove('bg-clr');
    document.getElementById('changeUsernameItem').classList.add('bg-clr');
    document.getElementById('changePasswordItem').classList.remove('bg-clr');
    document.getElementById('manageAddressItem').classList.remove('bg-clr');
    document.getElementById('walletItem').classList.remove('bg-clr');
  }

  function viewMyOrderPage() {
    myOrderPage.style.display = 'block';
    userNamePage.style.display = 'none';
    changePasswordPage.style.display = 'none';
    manageAddressPage.style.display = 'none';
    profileDetailPage.style.display = 'none';


    document.getElementById('myOrderItem').classList.add('bg-clr');
    document.getElementById('changeUsernameItem').classList.remove('bg-clr');
    document.getElementById('changePasswordItem').classList.remove('bg-clr');
    document.getElementById('manageAddressItem').classList.remove('bg-clr');
    document.getElementById('walletItem').classList.remove('bg-clr');
  }

  function viewChangePasswordPage() {
    myOrderPage.style.display = 'none';
    userNamePage.style.display = 'none';
    changePasswordPage.style.display = 'block';
    manageAddressPage.style.display = 'none';
    profileDetailPage.style.display = 'none';
    
    document.getElementById('myOrderItem').classList.remove('bg-clr');
    document.getElementById('changeUsernameItem').classList.remove('bg-clr');
    document.getElementById('changePasswordItem').classList.add('bg-clr');
    document.getElementById('manageAddressItem').classList.remove('bg-clr');
    document.getElementById('walletItem').classList.remove('bg-clr');

  }

  function viewManageAddressPage() {
    myOrderPage.style.display = 'none';
    userNamePage.style.display = 'none';
    changePasswordPage.style.display = 'none';
    manageAddressPage.style.display = 'block';
    profileDetailPage.style.display = 'none';


    document.getElementById('myOrderItem').classList.remove('bg-clr');
    document.getElementById('changeUsernameItem').classList.remove('bg-clr');
    document.getElementById('changePasswordItem').classList.remove('bg-clr');
    document.getElementById('manageAddressItem').classList.add('bg-clr');
    document.getElementById('walletItem').classList.remove('bg-clr');
}

function viewWalletPage() {
    myOrderPage.style.display = 'none';
    userNamePage.style.display = 'none';
    changePasswordPage.style.display = 'none';
    manageAddressPage.style.display = 'none';
    profileDetailPage.style.display = 'none';


    document.getElementById('myOrderItem').classList.remove('bg-clr');
    document.getElementById('changeUsernameItem').classList.remove('bg-clr');
    document.getElementById('changePasswordItem').classList.remove('bg-clr');
    document.getElementById('manageAddressItem').classList.remove('bg-clr');
    document.getElementById('walletItem').classList.add('bg-clr');

}

</script>
 



  <%- include('userFooter') %>