<%- include('userAfterLogin') %>
               
  <!-- //-----------ON DESKTOP -->
 

<div class="main-container">
<div class="flex-column flex-shrink-0 p-3 sidebar border" id="sidebar">
    <div class="row">
    <div class="d-flex flex-column align-items-center me-4"> <i class="fa-solid fa-user-tie fa-4x"></i>
        <span class="fs-4 mt-2">
            <%= user.userName.toUpperCase() %>
        </span>
    </div>
 
    <hr>
    <ul class="nav flex-column ">
      <li class="nav-item my-2" id="myOrderItem" onclick="viewMyOrderPage()">
        <a href="/my_order" class="nav-link link-dark">
          <i class="fa-solid fa-house-chimney me-3" ></i>
          My Order
        </a>
      </li>
      <li class="my-2" id="changeUsernameItem" onclick="viewUsernamePage()">
        <a href="/change_userName" class="nav-link link-dark">
            <i class="fa-solid fa-signature me-3" ></i>
          Change username
        </a>
      </li>
      <li class="my-2" id="changePasswordItem" onclick="viewChangePasswordPage()">
        <a href="/change_password" class="nav-link link-dark">
            <i class="fa-solid fa-key me-3" ></i>
          Change password
        </a>
      </li>
      <li class="my-2" id="manageAddressItem">
        <a href="/profile" class="nav-link link-dark">
            <i class="fa-solid fa-map-location-dot  me-3"></i>
          Manage address
        </a>
      </li>
      <li class="my-2">
        <a href="/wishlist" class="nav-link link-dark">
            <i class="fa-solid fa-hand-holding-heart  me-3"></i>
          My Wishlist
        </a>
      </li>
      <li class="my-2" id="walletItem" onclick="viewWalletPage()">
        <a href="/wallet" class="nav-link link-dark">
            <i class="fa-solid fa-wallet me-3" ></i>
          Wallet
        </a>
      </li>
      <li class="my-2">
        <a href="#" class="nav-link link-dark">
            <i class="fa-solid fa-headset  me-3"></i>
          Support
        </a>
      </li>
      <li class="my-2">
        <a href="#" class="nav-link link-dark">
            <i class="fa-solid fa-right-from-bracket  me-3"></i>
          Logout
        </a>
      </li>
    </ul>
    
  </div></div>

  <i class="fa-solid fa-bars-staggered mt-2 ms-4 " id="sidebardisplay"></i>

  <!-- ---------------------------------- ALERT MANAGE ------------------------------------------------------------ -->

  
  <div class="col-lg-9 mt-5 ms-5" id="profileDetail">
    <div class="container txt-container" style="height: fit-content;">
      <% if (userMessage) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Holy <%= user.userName %>!</strong> Successfully Changed Username
          <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
        </div>
        <% } %>
    
          <% if (userError) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Sorry <%= user.userName %> 😓</strong> Same Userame Try Another One
              <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
            </div>
            <% } %>
    
              <% if (addressError) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Sorry <%= user.userName %> 😓</strong> Adress Limit Exceeded
                  <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                </div>
                <% } %>
    
                  <% if (addressMessage) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>Holy <%= user.userName %>!</strong> Address added Successfully
                      <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                    </div>
                    <% } %>

                    <% if (passMessage) { %>
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Holy <%= user.userName %>!</strong> Successfully Changed Password
                        <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                      </div>
                      <% } %>

                      <% if (passError) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Sorry <%= user.userName %> 😓</strong> Error Occur While Changing The Password Please Try Again
                          <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                        </div>
                        <% } %>

                        <% if (editAddressMessage) { %>
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Holy <%= user.userName %>!</strong> Successfully Changed The Address
                           <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                          </div>
                          <% } %>

                          <% if (editAddressError) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <strong>Sorry <%= user.userName %> 😓</strong> Error Occur While Editinig The Address Please Try Again
                              <a href="/resetMessage"> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                            </div>
                            <% } %>

           
  <!-- ---------------------------------- ALERT END ------------------------------------------------------------ -->


 <i class="fa-solid fa-user-tie fa-4x"></i>
 <h1 class="mt-3 head_text">HELLO 👋🏼 <%= user.userName.toUpperCase() %></h1>
 <h4 class="para_text">Email : <%= user.email %></h4>
 <h4 class="para_text">Number : <%= user.number %></h4>
 <h4 class="para_text">Referral Code : <strong><%= user.referralCode %></strong> </h4>
 <div class="card-body pt-0 d-flex justify-content-end" 
  style="width: 100%;">
    <button class="addBtn" type="button" data-bs-toggle="modal" data-bs-target="#myModalAdd">ADD</button>
  </div>

    <!-- Add Address modal window start -->
    <div class="modal fade text-start" id="myModalAdd" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Add Address</h5>
            <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/add_address" id="addAddress" method="post">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" id="name" name="name"
                  onkeyup="addressValidateName()">
                  <p id="name-error"></p>
              </div>
  
              <div class="mb-3">
                <label class="form-label">Number</label>
                <input class="form-control" type="number" id="number" name="number" onkeyup="addressValidateNumber()">
                <p id="number-error"></p>
              </div>
  
              <div class="mb-3">
                <label class="form-label">Address</label>
                <input class="form-control" type="text" name="address" id="address" onkeyup="addressValidateAddress()">
                <p id="address-error"></p>
              </div>
  
              <div class="mb-3">
                <label class="form-label">City</label>
                <input class="form-control" type="text" name="city" id="city" onkeyup="addressValidateCity()">
                <p id="city-error"></p>
              </div>

              <div class="mb-3">
                <label class="form-label">State</label>
                <input class="form-control" type="text" name="state" id="state" onkeyup="addressValidateState()">
                <p id="state-error"></p>
              </div>

              <div class="mb-3">
                <label class="form-label">Pincode</label>
                <input class="form-control" type="number" name="pincode" id="pincode" onkeyup="addressValidatePincode()">
                <p id="pincode-error"></p>
              </div>

              <div class="mb-3">
                <label class="form-label">Landmark</label>
                <input class="form-control" type="text" name="landmark" id="landmark" onkeyup="addressValidateLandmark()">
                <p id="landmark-error"></p>
              </div>
   
           
              
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal for Adding Address -->

 <div class="address-container container mt-4 ">
 <% user.address.forEach((data,index)=>{ %>
  <div class="border py-4 px-4 address-item">
    <h4 class="text-center head_text">Address <%= index+1 %></h4>
    <ul>
     <li><p><%= data.address %> </p></li> 
      <p><%= data.name %> </p>
      <p><%= data.city %> </p>
      <p><%= data.state %> </p>
      <p><%= data.pincode %> </p>
</ul>

<div class="d-flex justify-content-end">

  <a href="" data-bs-toggle="modal" data-bs-target="#myModalEdit<%= index %>"><i class="fa-solid fa-user-pen"></i></a>
  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash ms-3"></i> </a> 

                          
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.534);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="head_text" id="exampleModalLabel">ARE YOU SURE</h5>
          <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p class="para_text">Permenently Delete The Address ⚠️</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
         <a href="/delete_address/<%= data._id %>"><button type="button" class="btn btn-primary">YES</button></a> 
        </div>
      </div>
    </div>
  </div>



  <!-- Edit Address modal window start  -->
        
  <div class="modal fade text-start" id="myModalEdit<%= index %>" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Edit Address</h5>
          <button class="btn-close btn-close-dark" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/edit_address/<%= data._id %>" id="editAddressForm<%= index %>" method="post">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input class="form-control" id="name<%= index %>" type="text" value="<%= data.name %>" name="userName"
                onkeyup="validateAddressName('<%= index %>')" />
              <p class="mt-2 mb-0" id="error-name<%= index %>"></p>
              </div>

            <div class="mb-3">
              <label class="form-label">Number</label>
              <input class="form-control" id="number<%= index %>" type="number" value="<%= data.number %>" name="number"
                  onkeyup="validateAddressNumber('<%= index %>')">
                  <p id="error-number<%= index %>"></p>

            </div>

            <div class="mb-3">
              <label class="form-label">Address</label>
              <input class="form-control" id="address<%= index %>" type="text" value="<%= data.address %>" name="address"
                  onkeyup="validateAddress('<%= index %>')">
                  <p id="error-address<%= index %>"></p>

            </div>

            <div class="mb-3">
              <label class="form-label">City</label>
              <input class="form-control" id="city<%= index %>" type="text" value="<%= data.city %>" name="city"
                  onkeyup="validateCity('<%= index %>')">
                  <p  id="error-city<%= index %>"></p>
                  
            </div>

            <div class="mb-3">
              <label class="form-label">State</label>
              <input class="form-control" id="state<%= index %>" type="text" value="<%= data.state %>" name="state"
                  onkeyup="validateState('<%= index %>')">
                  <p id="error-state<%= index %>"></p>

            </div>

            <div class="mb-3">
              <label class="form-label">Pincode</label>
              <input class="form-control" id="pincode<%= index %>" type="number" value="<%= data.pincode %>" name="pincode"
                  onkeyup="validatePincode('<%= index %>')">
                  <p id="error-pincode<%= index %>"></p>
                  
            </div>

            <div class="mb-3">
              <label class="form-label">Landmark</label>
              <input class="form-control" id="landmark<%= index %>" type="text" value="<%= data.landmark %>" name="landmark"
                  onkeyup="validateLandmark('<%= index %>')">
                <p id="error-landmark<%= index %>"></p>
            </div>
 
         
            
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save & Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal for Editing Address -->

 </div>


 </div>
 <% }) %>
</div> 
 
 </div>
</div>

<!-- ----------------------------my order page ---------------------------------------- -->

  <div class="col-lg-9 mt-5 ms-5" id="myOrder">
    
</div>

<!-- ----------------------------Change username page ---------------------------------------- -->

<div class="col-lg-9 mt-5 ms-5" id="changeUsername">
  <div class="container txt-container" style="height: fit-content;">
  <h4 class="heading">CHANGE USERNAME</h4>
  <form action="/change_userName" method="post" class="d-inline-flex flex-column">
  <h6>ENTER YOUR NEW USERNAME</h6>
  <input class="mt-3" type="text" name="userName" placeholder="<%= user.userName %>" required>
  <button class="mt-4 change_userName">CHANGE</button>
</form>
</div>
</div>

<!-- ----------------------------Change password page ---------------------------------------- -->

<div class="col-lg-9 mt-5 ms-5" id="changePassword" >
  <div class="container txt-container" style="height: fit-content;">
  <h4 class="heading">CHANGE PASSWORD</h4>
  <form action="/change_password" method="post" class="d-inline-flex flex-column">
    <h6>ENTER YOUR OLD PASSWORD</h6>
    <input class="mt-1 p-2" type="password" name="oldPassword" placeholder="Old password" required style="border: none;"> 
    <h6 class="mt-3">ENTER NEW PASSWORD</h6>
    <input class="mt-1 p-2" type="password" name="newPassword" placeholder="New password" required style="border: none;">
    <h6 class="mt-3">CONFIRM PASSWORD</h6>
    <input class="mt-1 p-2" type="password" name="confirmPassword" placeholder="Re enter" required style="border: none;">
    <button class="mt-3 change_userName">CHANGE</button>
  </form>
</div>
</div>



<!-- ----------------------------Manage address page ---------------------------------------- -->


<!-- ----------------------------wallet page ---------------------------------------- -->

<div class="col-lg-9 mt-5 ms-5" id="wallet">
  <div class="container txt-container" style="height: fit-content;">
  <h2 class="heading">WALLET</h2>
  <div class="container txt-container">
  </div>
</div>
</div>


<!-- ------------------------------Main container end---------------------------------------------- -->
</div>
<script src="/javascripts/validation.js"></script>

   

<script>
  const sidebar = document.getElementById('sidebar');
  const sidebardisplay = document.getElementById('sidebardisplay');

  sidebardisplay.addEventListener('click', () => {
    sidebar.classList.toggle('show-sidebar');
  });

  
'<% user.address.forEach((data,index)=>{ %>'
    document.getElementById('editAddressForm<%= index %>').addEventListener('submit', function(event) {
      let isNameValid = validateAddressName('<%= index %>'); 
      let isNumberValid = validateAddressNumber('<%= index %>');
      let isAddressValidate = validateAddress('<%= index %>');
      let isCityValidate = validateCity('<%= index %>');
      let isStateValidate = validateState('<%= index %>');
      let isPincodeValidate = validatePincode('<%= index %>');
      let isLandmarkValidate = validateLandmark('<%= index %>');
      
      if (!(isAddressValidate && isCityValidate && isLandmarkValidate && isNameValid && isNumberValid && isPincodeValidate && isStateValidate)) {
        event.preventDefault();
      }
    });
  '<% }) %>'

    document.getElementById('addAddress').addEventListener('submit', function(event) {
      let isNameValid = addressValidateName();
      let isNumberValid = addressValidateNumber()
      let isAddressValidate = addressValidateAddress()
      let isCityValidate = addressValidateCity()
      let isStateValidate = addressValidateState()
      let isPincodeValidate = addressValidatePincode()
      let isLandmarkValidate = addressValidateLandmark()
      
      if (!(isAddressValidate && isCityValidate && isLandmarkValidate && isNameValid && isNumberValid && isPincodeValidate && isStateValidate)) {
        event.preventDefault();
      }
    });
 

</script>
 



  <%- include('userFooter') %>